<!-- StreetData-Insight/partials/navbar.html -->
<div class="navbar">
  <a href="https://edgarzr54.github.io/StreetData-Insight/">
    <img src="https://raw.githubusercontent.com/EDGARZR54/StreetData-Insight/78caacf58ce7573c3270af65f5519565090a37fe/Imagotype/SDI_Imagotype.svg" alt="SDI Logo">
  </a>
  <!-- Pestañas/botones -->
  <div class="navbar-links">
    <a href="https://edgarzr54.github.io/StreetData-Insight/#metodologia">Metodología</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#herramientas">Herramientas</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#paper">Paper</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Results/Results.html">Resultados</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#segmentacion">Segmentación</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/Referential%20Comparison/Referential.html">Comparativa</a>
    <a href="https://github.com/EDGARZR54/StreetData-Insight" target="_blank">Repositorio</a>
    <a href="https://edgarzr54.github.io/StreetData-Insight/#documentacion">Documentación</a>
    <a href="https://www.food4rhino.com/en/app/street-data-insight?lang=es" target="_blank">Food4Rhino</a>
  </div>
</div>
